{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Home</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- <link rel="stylesheet" href="/./RaisingMinds/app/static/app/css/index.css" /> -->
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 alwaysTop">
      <div class="container">
      <!-- Logo -->
      <div class="fixedLogo">
          <a href="#"><div class="logo" class="h-8 size bg-dark">Raising Minds</div></a>
      </div>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse backGround" id="navbarCollapse">
          <!-- Nav -->
          <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
          <a class="nav-item nav-link" href="#">Campagins</a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Get invloved</a>
          </div>

          <!-- Donate button -->
          <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
              <a href="#" class="btn btnDonate-style btn-sm btn-primary w-full w-lg-auto custom-btn">
              Donate
              </a>
          </div>
          </div>
      </div>
    </nav>
    <!-- end of nav bar -->

    <!--  home section -->
    <section class="hero-section ">
      <div class="home-slider  homeSectionWords">
        <div class="slider-item " style="background-image:url(static/app/images/10.jpg);">
          <div class="column-1"></div>
          <div class="column-2"></div>
          <div class="column-3"></div>
          <div class="column-4"></div>
          <div class="container">
            <div class="row  slider-text  align-items-center">
              <div class="col-md-10 col-lg-7 ftco-animate">
                <div class="text w-100">
                  <h2>Supporting the Needy</h2>
                  <h1 class="mb-4">Education Changes Lives Support Our Mission.</h1>

                  <div class="d-flex btnCustom">

                    <p class="mb-0"><a href="#" class="btn btn-secondary py-2 px-2 px-md-4">Login</a></p>
                    <a href="#" class="d-flex align-items-center">
                      <p class="mb-0"><a href="#" class="btn btn-secondary py-2 px-2 px-md-4">Sign Up</a></p>
                      <a href="#" class="d-flex align-items-center"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of home section -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>